<div class="featured_main_product">
    <section class="main-content">
        <div class="featured_inner_product">
            
        </div>
    </section>
</div>



{% schema %}
    {
      "name": "Custom Featured Products",
      "settings": [
        
      ],
      "presets": [
        {
          "name": "Custom Featured Products"
         
        }
      ]
    }
    {% endschema %}
