<div class="custom_group">
    {% content_for "blocks" %}
</div>

{% schema %}
  {
    "name": "Custom Group",
    "settings": [],
    "presets": [
      {
        "name": "Custom Group"
      }
    ]
  }
{% endschema %}