<section class="main-content">
    <div class="registartion-main-content">
      {% render 'breadcrumbs' %}  
      <h4 class="customer_title">Reset Your Password</h4>
      <p class="password-mail">We will send you an email to reset your password</p>
      {%- form 'reset_customer_password', class: 'reset_form' -%}
        {{ form.errors | default_errors }}
        <div class="form-floating password">
          <input type="password" class="form-control password" name="customer[password]" id="password" placeholder="Password" required="">
          <label for="password" class="form_label">Password</label>
        </div>
        <div class="form-floating password_confirm">
          <input type="password" class="form-control confirm_password" name="customer[password_confirmation]" id="password_confirmation" placeholder="Confirm password" required="">
          <label for="password_confirmation" class="form_label">Confirm password</label>
        </div>
        <div class="form-floating submit">
          <input type="submit" class="submit-form registration" value="Reset">
        </div>
      {%- endform -%}
  </div>
</section>