<div class="layout-block"></div>
<div class="search-main-block">
    <div class="search-model">
        <div class="close-logo">
            <svg class="close_svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L18 18M18 6L6 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="h-100 d-flex justify-content-center search_modal">
            <div class="searching-block">
                <div class="predictive-search">
                    <form action="search" class="quick-search-form">
                        <div class="predictive-search-icon">
                            <svg class="predictive-search-icon-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </div>
                        <input type="text" id="search-input" placeholder="Search products...">
                    </form>
                    <div class="search-records">
                        <div class="suggetion_title">
                            <div class="search_title product active"><h3>Products</h3></div>
                            <div class="search_title collection"><h3>Collections</h3></div>
                            <div class="search_title page"><h3>Pages</h3></div>
                        </div>
                        <div class="search_results">
                            <ul class="search-results-products active"></ul>
                            <ul class="search-results-collection"></ul>
                            <ul class="search-results-pages"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'custom-predictive-search.js' | asset_url }}" defer="defer"></script>
